.user-profile-services {
  position: relative;
  left: 55px;
  width: calc(60vw - 25px);
  height: max-content;
  display: grid;
  grid-template-rows: max-content max-content max-content max-content max-content;
  grid-row-gap: 5px;
}

@mixin carousel-header {
  color: $HeaderBlack;
  font-size: $HeaderFontSize;
  font-weight: 900;
}

.user-profile-service-header {
  @include carousel-header();
}

.service-carousel {
  position: relative;
  width: calc(60vw - 25px);
  height: 100px;
  background-color: $CarouselGrey;
  border-radius: 5px;
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  align-items: center;
  box-sizing: border-box;
  grid-column-gap: 20px;
}

.user-profile-service-item {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  color: white;
}

.user-profile-service-item-Netflix {
  background: url('../../imgs/netflix.png');
  background-size: 150%;
  background-position: center;
}
.user-profile-service-item-Hulu {
  background: url('../../imgs/hulu.png');
  background-size: cover;
}
.user-profile-service-item-HBO {
  background: url('../../imgs/hbo.webp');
  background-size: cover;
}

.user-profile-service-item:hover {
  transition: all 1s;
  transform: rotateY(360deg); 
  cursor: pointer;
}
.flip-modal {
  background: black;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.user-service-price {
  position: absolute;
  width: 100%;
  text-align: center;
  color: $RegularBlack;
  top: -20px;
}