$HeaderBlack: rgba(0,0,0,0.65);
$RegularBlack: rgba(0,0,0,0.5);
$HeaderFontSize: 20px;
$CarouselGrey:rgba(0,0,0,0.015);

.carousel {
  position: relative;
  width: calc(95vw - 15px);
  left: calc(2.5vw - 7.5px);
  height: 300px;
}

.carousel-name {
  font-size: 25px;
  font-weight: 600;
  color: $HeaderBlack;
  position: absolute;
  top: -30px;
  margin-left: 1.5vw;
}

.carousel-rectangle {
  position: relative;
  box-sizing: border-box;
  max-height: 300px;
  height: 300px;
  display: flex;
  flex-direction: row;
  -ms-overflow-style: none;
  align-items: center;
  justify-content: left;
  column-gap: 1.2vw;
  margin-left: 1.5vw;
} 

.carousel-item {
  width: 200px;
  height: calc(280px);
  // margin-right: 60px;
  background: whitesmoke;
  border-radius: 5px;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.115);
  overflow: hidden;
}

.carousel-item:hover {
  transition: all 0.1s;
  width: 300px;
  height: 350px;
  overflow: visible;
  z-index: 10000;
  background: whitesmoke;
}

.carousel-next {
  position: absolute;
  width: 100px;
  height: 30px;
  bottom: -30px;
  left: calc(50vw - 100px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.carousel-ball {
  width: 18px;
  height: 18px;
  background: lightgray;
  border-radius: 100%;
}

.movie-carousels {
  display: grid;
  grid-template-rows: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
  grid-row-gap: 50px;
  margin-top: 55px;
}

.bruh {
  width: 100%;
  height: 100%;
  transform: scale(1);
}

.overlay-blur {
  margin-top: 0;
  margin-left: 0;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  backdrop-filter: blur(4px);
}