// Variables
$newBlack: rgba(0,0,0,0.85);

.user-profile {
  position: relative;
  display: grid;
  grid-template-columns: 50% 40%;
  grid-column-gap: 10%;
  height: calc(100vh - 64px);
}

// About Me
.user-profile-user-meta-information {
  position: relative;
  width: 60vw;
//   min-width: 600px;
  min-height: 300px;
  display: grid;
  grid-template-columns: max-content max-content;
//   border: 1px solid black;
}

.user-profile-edit-bio {
  position: absolute;
  right: 25px;
  bottom: 25px;
  z-index: 5;
}

.user-profile-user-meta-image-container {
  position: relative;
  min-width: 300px;
  height: 300px;
}

.replace-this-image {
  position: relative;
  top: 25px;
  left: 25px;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 100%;
  background: url('../../../assets/empty\ user.webp');
}

.user-profile-user-meta-about-me-container {
  position: relative;
  top: 25px;
  overflow: hidden;
  max-width: calc(60vw - 300px);
}

.user-profile-username-text {
  font-size: 25px;
  font-weight: 900;
  color: $newBlack;
}

.replace-profile-image-button {
  position: absolute;
  width: 75px;
  height: 75px;
  bottom: 25px;
  right: 25px;
  // border: 1px solid black;
  // background: white;
  border-radius: 100%;
}

//  Settings
.user-profile-settings {
  position: relative;
  display: grid;
  grid-row-gap: 15px;
  width: calc(60vw - 25px);
  height: max-content;
  left: 25px;
}

.user-profile-password-settings, .user-profile-username-settings {
  position: relative;
  display: grid;
  grid-template-columns: 500px max-content;
  grid-column-gap: 10px;
  max-width: 50%;
}

.user-profile-owned-subscriptions-carousel, .user-profile-add-subscriptions-carousel {
  display: grid;
  height: 100px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.035);
  min-width: 500px;
  align-content: center;
  grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
  grid-column-gap: 20px;
}

.user-profile-service {
  width: 75px;
  height: 75px;
  position: relative;
  top: 5px;
  border-radius: 5px;
  background-color: black;
  position: relative;
}
.user-profile-service:hover {
  transition: all 600ms;
  transform: rotateY(-360deg);
  cursor: pointer;
}
.user-subscription-hbo {
  background: url('../../imgs/hbo.webp');
  background-size: cover;
  width: 75px;
  height: 75px;
}
.user-subscription-netflix {
  background: url('../../imgs/netflix.png');
  background-size: contain;
  width: 75px;
  height: 75px;
}
.user-subscription-hulu {
  background: url('../../imgs/hulu.png');
  background-size: cover;
  width: 75px;
  height: 75px;
}

.user-profile-account-text, .user-profile-owned-subscriptions-text, .user-profile-add-subscriptions-text {
  font-size: 20px;
  font-weight: 900;
  color: $newBlack;
}

// Friends
.user-profile-friends {
  margin-left: 4vw;
  width: 35vw;
  max-width: 800px;
  height: calc(100vh - 70px);
  display: grid;
  grid-template-rows: 50px 50px 50px max-content;
}

.user-profile-header {
  height: 50px;
  font-weight: 900;
  color: $newBlack;
  font-size: 25px;
  display: grid;
  place-items: center;
  background-color: rgba(0,0,0,0.035);
}

.user-profile-friends-list {
  width: 35vw;
  max-width: 800px;
  height: 88%;
  border-radius: 5px;
}

.profile-you-have-no-subscriptions-text {
  display: grid;
  position: absolute;
  place-self: center;
  color: rgba(0,0,0,0.285);
}

.more-info-on-service {
  text-align: center;
  width: 75px;
  height: 75px;
  position: absolute;
  background-color: black;
  color: white;
  top: 0;
  left: 0;
  border-radius: 5px;
}
.more-info-on-service-price {
  position: relative;
  top: -20px;
  z-index: 100;
  color: black;
}

.user-profile-edit-text {
  width: 800px;
  height: 400px;
}

.user-profile-edit-text {
  position: fixed;
  z-index: 1000;
  width: 800px;
  height: 300px;
  top: calc(50vh - 150px);
  left: calc(50vw - 400px);
  background: rgba(0,0,0,0.285);
  backdrop-filter: blur(2px);
  display: grid;
  grid-template-rows: max-content max-content max-content;
  grid-row-gap: 10px;
  box-sizing: border-box;
  padding: 10px;
}