// Variables
$newBlack: rgba(0,0,0,0.85);

// Imports
@import './profileAccountSection';
@import './profileServices';
@import './variables';

.user-profile {
  position: relative;
  display: grid;
  grid-template-columns: 50% 40%;
  grid-column-gap: 10%;
  height: calc(100vh - 64px);
}

// About Me
.user-profile-user-meta-information {
  position: relative;
  width: calc(60vw - 25px);
  left: 25px;
  min-height: 300px;
  display: grid;
  grid-template-columns: max-content max-content;
  background: $CarouselGrey;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 50px 10px 50px 10px;
}

.user-profile-edit-bio {
  position: absolute;
  right: 25px;
  bottom: 25px;
  z-index: 5;
}

.user-profile-user-meta-image-container {
  position: relative;
  min-width: 200px;
  height: 200px;
  // border-radius: 200px;

}

.replace-this-image {
  position: relative;
  top: 12.5px;
  left: 12.5px;
  width: 175px;
  height: 175px;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 100%;
  background-size: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  background-color: lightgray;
  overflow: hidden;
}

#img {
  border-radius: 100% !important;
}

.user-profile-user-meta-about-me-container {
  position: relative;
  top: 12.5px;
  overflow: hidden;
  max-width: calc(60vw - 300px);
}

.user-profile-username-text {
  font-size: 25px;
  font-weight: 900;
  color: $HeaderBlack;
}
.user-profile-about-me-text {
  color: rgba(0,0,0,0.65);
}

.replace-profile-image-button {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 12.5px;
  right: 12.5px;
  border-radius: 100%;
  // background-color: black;
}

//  Settings
.user-profile-settings {
  position: relative;
  display: grid;
  grid-row-gap: 15px;
  width: calc(60vw - 25px);
  height: max-content;
  left: 25px;
}

.user-profile-password-settings, .user-profile-username-settings {
  position: relative;
  display: grid;
  grid-template-columns: 500px max-content;
  grid-column-gap: 10px;
  max-width: 50%;
}

.user-profile-owned-subscriptions-carousel, .user-profile-add-subscriptions-carousel {
  display: grid;
  height: 100px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.035);
  min-width: 500px;
  align-content: center;
  grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
  grid-column-gap: 20px;
  left: 15px;
}

.user-profile-service {
  width: 75px;
  height: 75px;
  position: relative;
  top: 5px;
  border-radius: 5px;
  background-color: black;
  position: relative;
}
.user-profile-service:hover {
  transition: all 600ms;
  transform: rotateY(-360deg);
  cursor: pointer;
}
.user-subscription-hbo {
  background: url('../../imgs/hbo.webp');
  background-size: cover;
  width: 75px;
  height: 75px;
}
.user-subscription-netflix {
  background: url('../../imgs/netflix.png');
  background-size: contain;
  width: 75px;
  height: 75px;
}
.user-subscription-hulu {
  background: url('../../imgs/hulu.png');
  background-size: cover;
  width: 75px;
  height: 75px;
}

.user-profile-account-text, .user-profile-owned-subscriptions-text, .user-profile-add-subscriptions-text {
  font-size: 20px;
  font-weight: 900;
  color: $newBlack;
}

// Friends
.user-profile-friends {
  margin-left: 55px;
  margin-top: 55px;
  width: 35vw;
  max-width: 800px;
  max-height: calc(100vh - 120px);
  height: calc(100vh - 70px);
  display: grid;
  grid-template-rows: 50px 50px 50px max-content;
}

.user-profile-header {
  height: 50px;
  font-weight: 900;
  color: $newBlack;
  font-size: 25px;
  display: grid;
  place-items: center;
  background-color: rgba(0,0,0,0.035);
}

.user-profile-friends-list {
  width: 35vw;
  max-width: 800px;
  height: 88%;
  border-radius: 5px;
  display: grid;
  grid-row-gap: 15px;
}

.profile-you-have-no-subscriptions-text {
  display: grid;
  position: absolute;
  place-self: center;
  color: rgba(0,0,0,0.285);
}

.more-info-on-service {
  text-align: center;
  width: 75px;
  height: 75px;
  position: absolute;
  background-color: black;
  color: white;
  top: 0;
  left: 0;
  border-radius: 5px;
}
.more-info-on-service-price {
  position: relative;
  top: -20px;
  z-index: 100;
  color: black;
}

.user-profile-edit-text {
  position: fixed;
  z-index: 1000;
  width: 800px;
  height: 300px;
  top: calc(50vh - 125px);
  left: calc(50vw - 400px);
  display: grid;
  grid-template-rows: max-content max-content max-content;
  // grid-row-gap: 10px;
  align-content: space-around;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  animation: 500ms flyUp ease forwards;
  // background: rgba(119,136,153, 0.085);
  background: transparent;
  backdrop-filter: blur(4px) !important;
}

@keyframes flyUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
    background: white;
  }
  100% {
    transform: translatY(0);
    opacity: 1;
  }
}

@keyframes riseAbove {
  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}

.friend {
  height: 75px;
  width: 100%;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  background: rgba(0,0,0,0.0285);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
}

.friend-meta {
  display: grid;
  grid-template-columns: 75px max-content;
  grid-column-gap: 12.5px;
  align-items: center;
}

.friend-service-list {
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  column-gap: 10px;
  right: 20px;
}

#friend-pic {
  position: relative;
  border-radius: 100%;
  left: 5px;
}

.black-canvas {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  top: 7.5px;
  background: black;
}

.NETFLIX, .HBO, .HULU {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-size: cover;
}

.NETFLIX {
  background: url('../../imgs/netflix.png');
}
.HBO {
  background: url('../../imgs/hbo.webp');
}
.HULU {
  background: url('../../imgs/hulu.png');
}

.friend-meta-username {
  color: $RegularBlack;
}

.login-upper-container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.login-container {
  position: relative;
  width: 40%;
  min-width: 500px;
  justify-self: center;
  height: 375px;
  display: grid;
  grid-template-rows: 100px auto auto auto;
  align-content: space-between;
} 

.login-header {
  background: rgba(0,0,0,0.0285);
  display: grid;
  grid-template-columns: 100px max-content;
  grid-row-gap: 40px;
  align-items: center;
}

.stream-finder-logo-login {
  position: relative;
  width: 75px;
  height: 75px;
  left: 12.5px;
  background: url('../../imgs/transparent_streamfinder_icon.png');
  background-size: cover;
}

.login-title {
  font-size: 35px;
  color: $HeaderBlack;
  font-weight: 900;
  font-family: lato, sans-serif;
}

.login-btn-interactions {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
}

.login-btn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: transparent;
  border: 1px solid rgba(0,0,0,0.225);
  font-size: 18px;
  color: $RegularBlack;
}

.login-btn:hover {
  border: 1px solid black;
}